@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}



/* Button CSS */


.allMemeGenerator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.memeAuthor{
    margin-top: 30px;
    font-size: 16px;
}
.title{
    font-size: 20px;
    margin-top: 20px;
    /* margin-bottom:50px; */
    font-weight: 700;
    max-width: 300px;
    height: 100px;
    text-align: center;
}
.memeImage{
    height: 300px;
}

/* .generatorBtn{
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: brown;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
} */


.generatorBtn {
    margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.generatorBtn:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.generatorBtn:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .generatorBtn {
    padding: 13px 50px 13px;
  }
}